/*TODO add images for .right a tags*/
/*TODO fix text decoration on all a tags*/
/*TODO  adjust nav margins*/
/*TODO figure out why header is not showing*/
/*TODO add input field */
/*TODO center Google Logo*/
/*TODO fix footer*/

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color: black;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
/* --------------------------------- HEADER/NAV --------------------------------- */

nav {
  overflow: hidden;
  width: 100%;
}

.header {
  top: 0;
  background-color: orange;
  overflow: hidden;
  width: 100%;
}

#left {
  float: left;
}

#right {
  float: right;
}
/* ---------------------------------- MAIN ---------------------------------- */

.banner {
  height: 100vh;
  width: 100%;
}

footer {
  bottom: 0;
  background-color: aqua;
  bottom: 0;
  width: 100%;
  height: 20px;
}
