* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color: black;
  height: 100vh;
  width: 100vw;
}

.header {
  display: flex;
  top: 0;
  background-color: orange;
}

footer {
  background-color: aqua;
  bottom: 0;
}
