* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: black;
  background-color: white;
  overflow: hidden;
}

header {
  width: 100%;
  height: 48px;
  overflow: hidden;
}

nav {
  width: 100%;
  height: 48px;
  overflow: hidden;
  background-color: salmon;
}

ul a,
li {
  text-decoration: none;
  list-style-type: none;
}

ul {
  display: flex;
}

#leftNav {
  display: flex;
  flex-direction: row;
}

#rightNav {
  display: flex;
  flex-direction: row;
}

#propick {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

/*NOTE anyhting below this is just a placeholde for later */
#logo {
  align-items: center;
}

#searchBox {
  border-radius: 10px;
}
