* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: black;
  background-color: white;
  overflow: hidden;
}

header {
  overflow: hidden;
  width: 100vw;
  height: 48px;
}

nav {
  width: 100vw;
  height: 48px;
  display: flex;
  overflow: hidden;
  background-color: salmon;
}

nav a {
  text-decoration: none;
  
}

.leftNav {
  justify-content: flex-start;
}

.rightNav {
  justify-content: flex-end;
}

#propick {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

/*NOTE anyhting below this is just a placeholde for later */
#logo {
  align-items: center;
}

#searchBox {
  border-radius: 10px;
}
