* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color: black;
  height: 100vh;
  width: 100vw;
}
/* --------------------------------- HEADER --------------------------------- */
.header {
  top: 0;
  background-color: orange;
  overflow: hidden;
}

li {
  list-style: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

footer {
  background-color: aqua;
  bottom: 0;
}
