* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: black;
  background-color: white;
  overflow: hidden;
}

header {
  overflow: hidden;
  width: 100vw;
  height: 48px;
}

nav {
  width: 100%;
  height: 48px;
  background-color: aquamarine;
}

.left {
  float: left;
}

.right {
  float: right;
}

#propick {
  width: 32px;
  height: 32px;
}

/*NOTE anyhting below this is just a placeholde for later */
#logo {
  align-items: center;
}

#searchBox {
  border-radius: 10px;
}
