* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color: black;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
/* --------------------------------- HEADER --------------------------------- */
.nav {
  top: 0;
  background-color: orange;
  overflow: hidden;
}

li {
  list-style: none;
}

#left {
  float: left;
}

#right {
  float: right;
}
/* ---------------------------------- MAIN ---------------------------------- */

.banner {
  height: 100vh;
  width: 100%;
}

footer {
  bottom: 0;
  background-color: aqua;
  bottom: 0;
  width: 100%;
  height: 20px;
}
