* {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  box-sizing: border-box;
  -moz-appearance: none;
}

body {
  height: 100vh;
  color: black;
  background-color: white;
}

header {
  width: 100vw;
  height: 48px;
  overflow: hidden;
}

nav {
  width: 100vw;
  height: 48px;
  overflow: hidden;
}

ul li,
a {
  text-decoration: none;
  list-style-type: none;
  color: black;
}

ul {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
}

.leftNav li {
  padding: 5px;
  margin: 0 5px;
}

#navRight {
  justify-content: flex-end;
}

#navRight li {
  padding: 5px;
  margin: 0 5px;
}

#propick {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
/* ----------------------------- END NAVIGATION ----------------------------- */
/* ------------------------------ BANNER IMAGE ------------------------------ */
/* ------------------------------- SEARCH BOX ------------------------------- */
/* ---------------------- SEARCH BUTTONS/FEELING LUCKY ---------------------- */
/* --------------------------------- FOOTER --------------------------------- */

